@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgba(46, 46, 46, 0.588);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background-size: 200% auto;
  animation: gradient 3s ease infinite;
} 

/********** Custom Styles **********/